<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/base.css"/>
        <title>Tekhne</title>
        <meta name="description" content="Technoboy10's blog."/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <script>
            window.addEventListener(
                "load",
                function() {
                    if (window.localStorage) {
                        [].forEach.call(
                            document.getElementsByClassName("postlinks"),
                            function(el) {
                                var id = "post-"+el.dataset.id;
                                if (localStorage[id]) {
                                    el.className += " visitedposts";
                                }
                            }
                        );
                    }
            });
        </script>
    </head>
    
    <body>
        {% include "header.html" %}
        <div id="postlist">
        <strong>The blog of technoboy10</strong>
        <br/>
        <div>
            <a href="/feed"><img src="/static/feed-icon.png" width="15" height="15"/></a>
            &middot;
            <div class="g-plusone" data-size="small" data-href="http://tekhne-blog.appspot.com/"></div>
        </div>
        <br/>
            {% for post in posts %}
             <strong class="postlinks" data-id="{{ post.key().id() }}" style="float:left;"><a href="/post/{{ post.key().id() }}">{{ post.title }}</a> </strong>&nbsp;


             <small style="float:right;">{{ post.dateposted.strftime("%m/%d/%y") }}</small>
             <div class="clearer"></div>
            <p>{{post.description | striptags}} <small>(<a href="/post/{{ post.key().id() }}">more</a>)</small></p><br/><br/>
            {% endfor %}
            
            <div id="pagesbox">
                {% if offset > 0 %} <a style="text-decoration:none;" href="/?page={{ offset - limit }}&limit={{ limit }}">&larr; Newer</a>
                &nbsp; &middot; &nbsp;
                {% endif %}
                {% if offset + limit < count %} <a style="text-decoration:none;" href="/?page={{ offset + limit }}&limit={{ limit }}">Older &rarr;</a>
                {% endif %}
            </div>
        
        <div id="whoami">
            <div class="home-info">
            <h2><code>self.info</code></h2>
            <p class="dropcap">I am a geek. When not playing piano or coding stuff, I can be found watching Doctor Who, Sherlock, and Chuck. Technoboy10 is usually my alias on the internet.<sup>[<a href="https://github.com/technoboy10">1</a>] [<a href="http://scratch.mit.edu/users/technoboy10">2</a>][<a href="http://technoboy10.tumblr.com">3</a>]</sup></p></div>

            <div class="home-info" ><h2><code>self.location</code></h2>
            <p class="dropcap">This blog is my homepage, and where I will occasionally post something geeky and/or meaningful. Want some light reading? Head to my <a href="http://tb10-tumblr.tk">Tumblr</a>.</p></div>

            
            <div class="home-info">
            <h2><code>self.query</code></h2>
            <p class="dropcap">The easiest way to reach me is by posting a comment on any of the blog posts.
            </p></div>
        </div>
        
        {% include "footer.html" %}
        </div>
        <script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
    </body>
</html>